<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <p class="title-create">Thêm sản phẩm</p>
    <form class="create-form" method="post" action="/admin/create-admin/">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example1">Tên sản phẩm</label>
            <input type="text" id="form6Example1" class="form-control" name="name_content"/>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example2">Giá bán sẽ được cập nhật tại kho</label>
            <input type="number" value="0" id="form6Example2" class="form-control" name="total" inputmode="numeric" pattern="[0-9]*" disabled/>
          </div>
        </div>
      </div>


      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example1">Giá nhập sẽ được cập nhật tại kho</label>
            <input type="text" id="form6Example1" class="form-control" name="importPrice" disabled value="0"/>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example2">Số lượng sẽ được cập nhật tại kho</label>
            <input type="number" value="0" id="form6Example2" class="form-control" name="quantity" inputmode="numeric" pattern="[0-9]*" disabled/>
          </div>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">link ảnh sản phẩm</label>
        <input type="text" id="form6Example3" class="form-control" name="img"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Hình ảnh 2</label>
        <input type="text" id="form6Example3" class="form-control" value="" name="image1"/>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Hình ảnh 3</label>
        <input type="text" id="form6Example3" class="form-control" value="" name="image2"/>
      </div>

        <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example1">Loại sản phẩm:</label>
            <select class="select-create" name="categoryId" id="categoryId">
                {{!-- <option value="male" {{#if (equal courses.type "male")}} selected {{/if}}>male</option>
                <option value="female" {{#if (equal courses.type "female")}} selected {{/if}}>female</option>
                <option value="couple" {{#if (equal courses.type "couple")}} selected {{/if}}>couple</option> --}}
                {{#each category}}
                  <option id="categoryId" value="{{this._id}}">{{this.category_name}}</option>
                {{/each}}
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example2">Thương hiệu: </label>
            <select class="select-create" name="brand">
                <option value="olym" {{#if (equal courses.brand "olym")}} selected {{/if}}>olym</option>
                <option value="casio" {{#if (equal courses.brand "casio")}} selected {{/if}}>casio</option>
                <option value="citizen" {{#if (equal courses.brand "citizen")}} selected {{/if}}>citizen</option>
                <option value="tissot" {{#if (equal courses.brand "tissot")}} selected {{/if}}>tissot</option>
                <option value="hublot" {{#if (equal courses.brand "hublot")}} selected {{/if}}>hublot</option>
            </select>
          </div>
        </div>
      </div>


      {{!-- <div class="col">
        <div class="form-outline">
          <label class="form-label" for="form6Example1">Số lượng:</label>
            <input type="text" id="form6Example1" class="form-control with" value="" name="quantity"/>
        </div>
      </div> --}}

      <!-- Message input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Chi tiết mô tả sản phẩm</label>
        <textarea class="form-control" id="form6Example7" rows="4" name="detail"></textarea>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Chi tiết mô tả sản phẩm</label>
        <textarea class="form-control" id="form6Example7" rows="4" value="" name="detail1"></textarea>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Chi tiết mô tả sản phẩm</label>
        <textarea class="form-control" id="form6Example7" rows="4" value="" name="detail2"></textarea>
        </div>

      <!-- Submit button -->
      <button type="submit" class="btn-create btn btn-primary btn-block mb-4">Thêm sản phẩm</button>
</form>
</div>