{{!-- <footer >
      <hr class="p-0 m-0 b-0">
      <div class="container">
        <div class="row">

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Trợ giúp</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Thanh toán</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Dịch vụ</a></li>
            </ul>
          </div>

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Chinh sách</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Chính sách hoàn trả</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Điều khoản sử dụng</a></li>
            </ul>
          </div>

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Công ty</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Đăng nhập</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Đăng ký</a></li>
            </ul>
          </div>

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Địa chỉ văn phòng</h6>
            <p class="text-muted mb-4">Khu II, Đ. 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ. Điện thoại: 0379830470 - 0948935476</p>
            <ul class="list-inline mt-4">
              <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab  fa-2x fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
	  

    </footer> --}}


    <!-- Remove the container if you want to extend the Footer to full width. -->


  <footer class="text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="containerFooter">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Công ty</h5>

          <p style="color: white;">
Vài năm trở lại đây, bên cạnh những chiếc điện thoại mới nhất hiện đại không thể thiếu trong cuộc sống hằng ngày, còn một phụ kiện nữa đã dần trở nên vô cùng phổ biến và mang đến nhiều sự tiện lợi đó là đồng hồ thông minh.
          </p>

          <p style="color: white;">
            Đồng hồ Galle tự hào là đơn vị bán lẻ đồng hồ uy tín hàng đầu Việt Nam
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Tìm kiếm</h5>

          <div class="form-outline form-white mb-4">
            <input type="text" id="formControlLg" class="form-control form-control-lg" />
            <label class="form-label" for="formControlLg">Tìm</label>
          </div>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Khu II, Đ. 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ.</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">contact@example.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">0379830470 - 0948935476</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Giờ mở cửa trong tuần</h5>

          <table class="table text-center text-white">
            <tbody class="fw-normal">
              <tr>
                <td>Thứ 2 - thứ 5:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Thứ 6 - Thứ 7:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Chủ nhật: </td>
                <td>Đóng cửa</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <!-- Copyright -->
  </footer>


<!-- End of .container -->

<style>
  .containerFooter {
    width: 90%;
    margin-left: 5%;
  }
</style>