
    {{#unless staffShip}}
        <a class="" href="/shipper/login/">Đăng Nhập</a>
        {{!-- <div class="dropdown-divider"></div> --}}
    {{/unless}}
    {{#if staffShip}}
        <p>hello {{staffShip.staffShipName}}</p>
        {{!-- <div class="dropdown-divider"></div> --}}
        <a href="/shipper/shipperAdmin">Đơn hàng mới</a>  &ensp; &ensp;
        <a href="/shipper/comfirmShipper/{{this._id}}">Đơn hàng đã nhận</a> &ensp; &ensp;
        <a href="/shipper/completeShipper/{{this._id}}">Đơn hàng đã hoàn thành</a> &ensp; &ensp;
        {{!-- <a href="/shipper/cancelShipper/{{this._id}}">Đơn hàng đã hủy</a> --}}
    {{/if}}
    <hr>