<section class="address">
  <div class="container py-5">
    <div class=" form-address row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Thông tin khách hàng</h3>
            <p class="title-user">Thêm địa chỉ mới</p>
            <form method="post" action="/addressUser">
                <div>
                    <select class="form-select form-select-sm mb-3" id="city" name="city" aria-label=".form-select-sm">
                        <option value="tỉnh">{{this.City}}</option>           
                    </select>
                            
                    <select class="form-select form-select-sm mb-3" id="district" name="district" aria-label=".form-select-sm">
                        <option value="" selected>{{this.Districts}}</option>
                    </select>

                    <select class="form-select form-select-sm" id="ward" name="ward" aria-label=".form-select-sm">
                        <option value="" selected>{{this.Wards}}</option>
                    </select>
                    <input type="text" name="road" placeholder="Số nhà, Tên đường">
                </div>  
                <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Thêm địa chỉ" />
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>