<div style="display: flex;justify-content: center;align-items: center;">
    <p>
       <img src="{{url}}" alt="Girl in a jacket" style="width: 900px;height:900px"><br>
    </p>
    <br>
    {{!-- <a href="/shipper/detailShipper/confirm/{{order._id}}"><button class="btn btn-primary">Nhận đơn hàng</button></a> --}}
                  
</div>
<div style="height: 400px;"></div>

{{!-- <div class="Container">

    <table>
        <td class="qr">
            <img src="{{url}}" alt="Girl in a jacket" style="width: 900px;height:900px">
        </td>
        <td class="button">
            <button type="button" class="btn btn-outline-primary">Momo</button>
        </td>
    </table>


<style>
    .qr {
        
        height: 200px;
        width: 50%;
    }

    .button {
        
        height: 200px;
        width: 50%;
    }

     .btn {
        background-color: #ad006c !important;
        width: 80px;
     }
</style> --}}