<div style="display: flex;justify-content: center;align-items: center;">
    <p>
       <img class="qr" src="{{url}}" alt="Girl in a jacket" style="width: 600px;height:600px"><br>
    </p>
    <br>
    {{!-- <a href="/shipper/detailShipper/confirm/{{order._id}}"><button class="btn btn-primary">Nhận đơn hàng</button></a> --}}
                  
</div>
<div style="height: 40px;"></div>

<style>
    .qr {
        
        margin-top: 40px !important;
    }

</style>