<div class="change-password">
  <p class="title-changepass">Quên mật khẩu</p>
  <form action="/forgotPassword" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Nhập Email bạn đã đăng ký</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="emailComfirm">
    </div>
    <button type="submit" class="btn btn-primary">Gửi mã xác nhận</button>
  </form>
</div>